.joinUs-container {
        /* max-width: 1100px;
        margin: 0 auto;
        padding: 20px 30px 60px;
        background-color: var(--bg-main);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.05); */
        max-width: 90%;
        margin: 2rem auto 0;
        background: var(--bg-card);
        padding: 40px;
        border-radius: 12px;
        border: 1px solid var(--border-color);
        line-height: 1.8;
        .page-title {
            color: var(--primary);
            margin-bottom: 30px;
            text-align: center;
            font-size: 2rem;
        }
    }

h3 {
        font-size: 1.8rem;
        color: var(--text-main);
        margin: 40px 0 20px;
        padding-bottom: 8px;
        border-bottom: 3px solid #007a33;
        font-weight: 700;
    }

h4 {
        font-size: 1.3rem;
        color: var(--text-main);
        margin: 30px 0 12px;
        font-weight: 600;
    }    

@media (max-width: 480px) {
        .joinUs-container {
        padding: 12px 12px 30px;
        }

        h3 {
        font-size: 1.3rem;
        }
        h4 {
        font-size: 1rem;
        }
    }

@media (max-width: 768px) {
        .joinUs-container {
        padding: 16px 18px 40px;
        }

        h3 {
        font-size: 1.5rem;
        }

        h4 {
        font-size: 1.15rem;
        }
    }